{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlwhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "printwidth": 120,
    "prosewrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragna": false,
    "seni": true,
    "singleQuote": true,
    "tabwidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}